{% extends "_layoutlogon.html" %}       
        
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <br>
                    <h4> Objetos de Aprendizaje Nuevos</h4>
                    <blockquote>Última Actualización</blockquote>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col s12">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col s12">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col s12">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col s12">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col s12">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col s6">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--row-->


            </div>
            <div class="row">
                <div class="col s12">
                    <h4>Recomendados</h4>
                    <blockquote>Mas utilizados</blockquote>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col s12">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col m6 l3">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col m6 l3">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="panel panel-stat">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="col m6 l3">
                                        <h6 class="stat-title">Nombre Objeto de Aprendizaje</h6>
                                        <p class="">Administracion de la Memoria Ram</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Patron Utilizado</span>
                                        <p class="">Early Bird</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Creador</span>
                                        <p class="">Dario Rodriguez</p>
                                    </div>
                                    <div class="col m6 l3">
                                        <span class="stat-title">Fecha</span>
                                        <p class="">14/9/2016</p>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <br>
                                <div class="row">
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>
                                    <div class="col s6">
                                        <a class="waves-effect waves-light btn right">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}