{% extends "administrador/AdministradorBase.html" %}

{% load tags_html %}

{% block bread %}
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row" style="margin-bottom: 0px">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Administrador</h5>
                <ol class="breadcrumbs">
                    <li><a style="color: #00bcd4;text-decoration:none" href="">Inicio</a></li>
                    <li><a style="color: #00bcd4;text-decoration:none" href="">Menu</a></li>

                    <li class="active">Editar Accesos</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block informacion %}
    <p class="caption">A continuacion podra modificar los accesos al sistema.</p>
    <div class="divider"></div>
{% endblock %}
{% block contenido %}

<h5>Accesos del Sistema</h5>

     
 <div class="row">
    
     <form class="col s12" action='.' method='POST'>
 {% csrf_token %}
 <div class="row">
        <div class="col s6">
           Opcion Menu : {{ formulario.menu }}
      
        </div>
</div>
        <div class="row">
         <div class="col s6">
 Tipo Usuario: {{ formulario.tipousuario }}
            
        </div>
</div>
  <button class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action">Aceptar
  
  </button>
        
 <a class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action" href='{% url 'administrador:administrador_permisos_index' %}'>Cancelar
               </a>

    </form>
  </div>
         
{% include 'tags/error_form.html' %}
{% include 'tags/success_form.html' %}

{% endblock %}
