{% load staticfiles %}
{% load tags_html %}

<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Google Raleway Font-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
    <!--/Import Google Raleway Font-->

    <!--Import fuente.css-->
    <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/fuente.css" %}' media="screen,projection"/>
    <!--/Import fuente.css-->

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/materialize.min.css" %}' media="screen,projection" />

    <!--Import adoa.css-->
    <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/adoa.css" %}' media="screen,projection"/>
    <!--/Import adoa.css-->

    <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/materialNote.css" %}' media="screen,projection" />

    <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/Site.css" %}' media="screen,projection" />

    <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/datatables/jquery.dataTables.min.css" %}' media="screen,projection" />

    <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/datatables/dataTables.material.min.css" %}' media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />

<style type="text/css">
body{

    background: white;
}
.container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 98%;
}
#menuli{
    width: 240px;
    height: 48px;
    padding-left: 0px;
    padding-right: 0px;
}
#menu{
    width: 240px;
    height: 48px;
    padding-left: 0px;
    padding-right: 0px;
    
}
#menua{
    width: 240px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 48px;
}

#menuPatron{
    padding: 0 0 0 0;

}

#menua:hover {
    background-color: transparent;
}
#menuli:hover {
    background-color: transparent;
}
#menuDivider{
    padding-left: 0px;
    width: 240px;
    padding-right: 0px;
}
html {
font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#main{
    padding-left: 240px;

}
#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
}
aside{
    display: block;
}
.container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
   width: 98%;
}
.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
body {
    margin: 0;
}
@media only screen and (max-width : 992px) {
      #main{
        padding-left: 0;
      }
      #emi{
        width: 100%;
        font-size:50px;
      }
}


@media only screen and (max-width : 640px) {
     #botonfloat{
        visibility: visible;

      }
}
.sidebar {
    float: left;
}

.fixed { 
    position: fixed; top: 0;
}
.navbar-fixed {
    height: 64px;
}
.navbar-fixed {
    position: relative;
    z-index: 998;
}
.navbar-fixed nav {
    position: fixed;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
}
nav {
    color: #fff;
    background-color: #00bcd4;
    width: 100%;
    line-height: 56px;
}
.navbar-fixed nav {
    position: fixed;
}

/*--------------------------------------------------------------------------------*/
body {font-family: 'Raleway', sans-serif;}
  .thin {font-weight:100;font-family: 'Raleway', sans-serif;}
  h1 { font-size:44px; font-weight:200;font-family: 'Raleway', sans-serif;}
  h2 {font-size:33px; font-weight:300;font-family: 'Raleway', sans-serif;}
  h3 {font-size:22px; font-weight:700;font-family: 'Raleway', sans-serif;}
  h4, h5 {font-weight:800;font-family: 'Raleway', sans-serif;}
  .bold, strong  {font-weight:600;font-family: 'Raleway', sans-serif;}
  .extrabold {font-weight:800;font-family: 'Raleway', sans-serif;}
  .ultrabold {font-weight:900;font-family: 'Raleway', sans-serif;}
/*--------------------------------------------------------------------------------*/


</style>

</head>

<body>

    <header style="height:57px">
        <nav style="height: 57px;">
            <div class="navbar-fixed">
                <nav class="light-blue lighten-1" style="height:57px">
                    <div class="nav-wrapper">
                        <ul id="dropdown1" class="dropdown-content" style="margin-top: 57px">
                            <li>{% url_tag 'Cerrar Sesion' 'usuario:usuario_salir' %}</li>
                            <li>{% url_tag 'Configuracion' 'usuario:index_usuarioBase' %}</li>
                        </ul>

         <ul class="left" >
                            <!-- Dropdown Trigger -->
        <li style="height:57px"><a style="height:57px" href="#" id="alternar-panel-oculto"><i class="material-icons">menu</i></a></li>

                        </ul>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                        <ul class="right hide-on-med-and-down" >
                            <!-- Dropdown Trigger -->
                            <li style="height:57px"><a class="dropdown-button" data-activates="dropdown1" data-constrainwidth="false" style="height:57px"><i class="material-icons">face</i></a></li>

                        </ul>
                            
        <ul class="side-nav" id="mobile-demo">
                        <!-- Dropdown Trigger -->
                            
                         
                        </ul>
<a class="brand-logo" style="margin-left:10px;bottom:-4px"><h4>Adoa</h4></a>

                    </div>
                </nav>
            </div>
        </nav>
    </header>

<div id="main"><!--MAIN PRINCIPAL-->
    <div class="wrapper"><!--WRAPPER PRINCIPAL-->
        <div class="sidebar1">
            <aside id="left-sidebar-nav">
                <ul id="panel-oculto" class="side-nav fixed" style="width: 240px; top:57px;">
                    <li id ="menuli">
                        <a id="menua" class="subheader red-text" style="font-weight: bold">
                            MENU
                        </a>
                    </li>

                    <li id="menuDivider"><div class="divider"></div></li>

                    <li id ="menu">
                        <a id="menua" href="/Inicio/1">
                            <i class="material-icons blue-text">home</i>
                            Inicio
                        </a>
                    </li>

                    <li id ="menu">
                        <a id="menua" href="/CrearOA">
                            <i class="material-icons blue-text">note_add</i>
                            Crear Objeto
                        </a>
                    </li>

                    <li id="menuDivider"><div class="divider"></div></li>

                    <li id ="menuli">
                        <a class="subheader red-text" style="font-weight: bold">
                            OPCIONES
                        </a>
                    </li>

                    <li  id ="menu">
                        <a id="menua" href="/Objetos/1">
                            <i class="material-icons blue-text">work</i>
                            Mis objetos
                        </a>
                    </li>

                    <li id ="menu">
                        <a id="menua" href="/Objetos/2">
                            <i class="material-icons blue-text">list</i>
                            Todos los objetos
                        </a>
                    </li>

                    <li id="menuDivider"><div class="divider"></div></li>


                    <li id ="menuli">
                        <a id="menua" class="subheader red-text" style="font-weight: bold">
                            INFORMACION
                        </a>
                    </li>
                
                    <ul class="collapsible" data-collapsible="accordion">
                        <li id ="menu">
                           <a id="menua" class="collapsible-header">
                            <i class="material-icons blue-text">info</i>
                                Patrones
                            </a>

                            <div class="collapsible-body">
                            <ul>
                               
                                <li id ="menu">
                                    <a id="menua" href="#earlyBird" class="modal-trigger">  

                                    <i class="material-icons blue-text">done</i>
                                     Early Bird
                                    </a>
                                </li>

                                <li id ="menu">
                                    <a id="menua" href="#spiral" class="modal-trigger">    
                                    <i class="material-icons blue-text">done</i>
                                     Spiral
                                    </a>
                                </li>

                                <li id ="menu">
                                    <a id="menua" href="#layOfTheLand" class="modal-trigger">   
                                    <i class="material-icons blue-text">done</i>
                                     Lay of the Land
                                    </a>
                                </li>

                                <li id ="menu">
                                    <a id="menua" href="#toyBox" class="modal-trigger">  
                                    <i class="material-icons blue-text">done</i>
                                     Toy Box
                                    </a>
                                </li>

                                <li id ="menu">
                                   <a id="menua" href="#toolBox" class="modal-trigger">   
                                    <i class="material-icons blue-text">done</i>
                                    ToolBox
                                    </a>
                                </li>
                            </ul>
                                
                            </div>
                        </li>


                    </ul>










                </ul>
            </aside>
        </div>

        <section id="content">
            {% block menuInfo %}

            {% endblock %}
            <div class="container"><!--CONTAINER PRINCIPAL-->
        
                <div class="section" style="padding-top: 0px;" ><!--SECTION PRINCIPAL aca va todo-->
                    {% block contenido %}



                    {% endblock %}
                </div><!--SECTION PRINCIPAL-->
             </div><!--CONTAINER PRINCIPAL-->
        </section>


        <div id="earlyBird" class="modal">
            <div class="modal-content">
                <h4><blockquote>Early Bird</blockquote></h4>
                <div class="divider"></div>
                <p>En este patrón se hace una introducción al tema para luego desarrollarlo más en profundidad.</p>

                    <h5>Secciones</h5>
                        <p style="font-weight:bold;text-indent:0.5cm">Ideas Principales</p>
                        <p style="text-indent:1cm">Nombrar de forma resumida las ideas/nociones principales de los temas que se estudiarán en el OA.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Desarrollo</p>
                        <p style="text-indent:1cm">Explicar en forma más profunda cada uno de los temas introducidos en la sección anterior.</p>
                    <h5>Actividad Sugerida</h5>
                        <p style="text-indent:1cm">Verdadero Falso</p>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
        </div>

        <div id="spiral" class="modal">
           <div class="modal-content">
                <h4><blockquote>Spiral</blockquote></h4>
                <div class="divider"></div>
                <p>Este patrón se utiliza principalmente cuando hay muchos conceptos que deben explicarse simultáneamente para introducir a los estudiantes a un nuevo campo.</p>

                    <h5>Secciones</h5>
                        <p style="font-weight:bold;text-indent:0.5cm">Primera Aproximación</p>
                        <p style="text-indent:1cm">Explicar el contexto en el que se vinculan los diferentes aspectos a aprender.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Idea General</p>
                        <p style="text-indent:1cm">Desarrollar en forma sencilla los temas a desarrollar y la relación entre ellos.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Detalles</p>
                        <p style="text-indent:1cm">Profundizar lo presentado en la sección anterior.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Conclusión</p>
                        <p style="text-indent:1cm">Explicación del porqué de la necesidad de estudiar todo los temas vistos en forma conjunta y otras apreciaciones pertinentes al tema.</p>
                    <h5>Actividad Sugerida</h5>
                        <p style="text-indent:1cm">Asociación</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
        </div>

        <div id="layOfTheLand" class="modal">
            <div class="modal-content">
               <h4><blockquote>Lay of the Land</blockquote></h4>
                <div class="divider"></div>
                <p>Este patrón sirve para observar el panorama general de un tema/contexto/situación y aprender a partir de casos reales las posibles reacciones ante su ocurrencia.</p>

                    <h5>Secciones</h5>
                        <p style="font-weight:bold;text-indent:0.5cm">Presentación del tema</p>
                        <p style="text-indent:1cm">Explicación del tema que se estudiará y el contexto.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Explicación de un caso</p>
                        <p style="text-indent:1cm">Detallar una situación real que represente un ejemplo de lo presentado en la sección anterior.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Detección de errores</p>
                        <p style="text-indent:1cm">Análisis de las fallas observadas en el caso explicado.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Detección de Aciertos</p>
                        <p style="text-indent:1cm">Análisis de los aciertos observados en el caso explicado.</p>
                    <h5>Actividad Sugerida</h5>
                        <p style="text-indent:1cm">Identificación</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
        </div>

        <div id="toolBox" class="modal">
            <div class="modal-content">
                <h4><blockquote>Tool Box</blockquote></h4>
                <div class="divider"></div>
                <p>Se utiliza principalmente para la enseñanza de métodos prácticos. Se aprende al analizar metodologías existentes.</p>

                    <h5>Secciones</h5>
                        <p style="font-weight:bold;text-indent:0.5cm">Situación actual de la problemática</p>
                        <p style="text-indent:1cm">Explicación del contexto y el problema.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Síntesis de herramientas</p>
                        <p style="text-indent:1cm">Nombrar las diferentes herramientas factibles de ser aplicadas para encontrar la solución al problema.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Explicación metodología 1</p>
                        <p style="text-indent:1cm">Resolución del problema con la técnica 1.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Explicación metodología 2</p>
                        <p style="text-indent:1cm">Resolución del problema con la técnica 2.</p>
                    <h5>Actividad Sugerida</h5>
                        <p style="text-indent:1cm">Ordenamiento</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
        </div>

        <div id="toyBox" class="modal">
            <div class="modal-content">
               <h4><blockquote>Toy Box</blockquote></h4>
                <div class="divider"></div>
                <p>La intención de este patrón es dar a los estudiantes un amplio conocimiento histórico y tecnológico del campo a estudiar.</p>

                    <h5>Secciones</h5>
                        <p style="font-weight:bold;text-indent:0.5cm">Explicación de un caso</p>
                        <p style="text-indent:1cm">Desarrollamos un caso real/imaginario que represente un ejemplo del tema a estudiar.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Métodos de resolución alternativos</p>
                        <p style="text-indent:1cm"> Presentar otras soluciones que hubieran sido factibles de implementar para la resolución del caso.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Primeras aplicaciones de los métodos</p>
                        <p style="text-indent:1cm">Surgimientos de las diferentes técnicas que llevan a la resolución del caso y quienes fueron sus implementadores.</p>
                        <p style="font-weight:bold;text-indent:0.5cm">Transición a la actualidad</p>
                        <p style="text-indent:1cm">Desarrollo cronológico y vinculación entre las diferentes metodologías.</p>
                    <h5>Actividad Sugerida</h5>
                        <p style="text-indent:1cm">Video</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
        </div>
          
    </div><!--WRAPPER PRINCIPAL-->
</div><!--MAIN PRINCIPAL-->

<!--Import jQuery before materialize.js-->


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src='{% css_tag "materialize/js/materialize.min.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/materialNote.min.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/ckMaterializeOverrides.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/datatables/jquery.dataTables.min.js" %}'></script>

<script type="text/javascript"  src='{% css_tag "materialize/js/datatables/dataTables.material.min.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/jquery.blockUI.js" %}'></script>
      
<!--Import Jquery-migrate 1.2.1-->
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!--/Import Jquery-migrate 1.2.1-->

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/Site.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/ObjetoAprendizaje.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/Actividades.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/Evaluacion.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/VisualizacionActividades.js" %}'></script>

<script type="text/javascript" src='{% css_tag "materialize/js/Objeto/VisualizacionEvaluacion.js" %}'></script>


</body>

</html>