        {% extends "_layoutlogon.html" %}       
        {% block content %}
            <div class="row">
                <div class="col s12">
                    <div class="card-panel white z-depth-2">
                        <div class="card-content black-text">
                            <h3>Crear Objeto</h3>
                            <p>A continuacion se encuentran los pasos para crear el objeto de aprendizaje.</p>
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs">
                                        <li class="tab col s3" id="tab1"><a class="active" href="#contentTab1">Informacion</a></li>
                                        <li class="tab col s3 disabled" id="tab2"><a href="#contentTab2">Introduccion</a></li>
                                        <li class="tab col s3 disabled" id="tab3"><a href="#contentTab3">Contenido</a></li>
                                        <li class="tab col s3 disabled" id="tab4"><a href="#contentTab4">Actividad</a></li>
                                        <li class="tab col s3 disabled" id="tab5"><a href="#contentTab5">Evaluacion</a></li>
                                    </ul>
                                </div>
                                <br>
                                <input type="hidden" name="editoa" id="editoa" value="{{ objeto.pk }}">
                                <input type="hidden" name="oaid" id="oaid" value="0">
                                <input type="hidden" name="evaluacionid" id="evaluacionid" value="0">
                                <div id="contentTab1" class="col s12">
                                    <div class="row col s6">
                                        <form id="oa-paso1" class="col s12">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="oatitulo" length="50" name="oatitulo" type="text" class="validate">
                                                    <label for="oatitulo" class="">Titulo</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="oadescripcion" length="300" name="oadescripcion" class="materialize-textarea"></textarea>
                                                    <label for="Descripcion">Descripcion</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <select id="oapatron" name="oapatron">
                                                        <option value="" disabled="" selected="">Seleccione el Patron</option>
                                                    </select>
                                                    <label>Patron Pedagogico</label>
                                                </div>
                                            </div>
                                            <div class="row col s12">
                                                <button id="btnGuardarPaso1" class="btn waves-effect waves-light red left" type="submit" name="action"><i class="material-icons left">cloud</i>Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row col s12">
                                        <a id="btnTab1" class="btn-floating btn-large waves-effect waves-light red right disabled" onclick="cambiarTab('contentTab2','tab2')"><i class="material-icons">send</i></a>
                                    </div>
                                </div>
                                <div id="contentTab2" class="col s12">
                                    <div>
                                        <div id="oa-paso2" class="col s12">
                                            {% csrf_token %}
                                            <h3>
                                                Introduccion  
                                            </h3>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <div class="editor" id="introduccion-oa">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col s12">
                                                <a id="btnGuardarPaso2" class="btn waves-effect waves-light red left" name="action"><i class="material-icons left"></i>Guardar</a>
                                            </div>
                                        </div>
                                        <a id="btnTab2" class="btn-floating btn-large waves-effect waves-light red right" onclick="cambiarTab('contentTab3','tab3')"><i class="material-icons">send</i></a>
                                    </div>
                                </div>
                                <div id="contentTab3" class="col s12">
                                    <div id="oa-paso3" class="col s12">
                                        {% csrf_token %}
                                        <div id="oa-secciones">
                                        </div>
                                        <div class="row col s12">
                                            <a id="btnGuardarPaso3" class="btn waves-effect waves-light red left" name="action"><i class="material-icons left"></i>Guardar</a>
                                        </div>
                                    </div>
                                    <a id="btnTab3" class="btn-floating btn-large waves-effect waves-light red right" onclick="cambiarTab('contentTab4','tab4')"><i class="material-icons">send</i></a>
                                </div>
                                <div id="contentTab4" class="col s12">
                                    <div class="section">
                                        <div class="row col s12">
                                            <div class="input-field col s9">
                                                <select id="actividadesSelect" name="actividadesSelect">
                                                    <option value="" disabled="" selected="">Seleccione la actividad</option>
                                                    <option value="1">Verdadero o Falso</option>
                                                    <option value="2">Asociacion</option>
                                                    <option value="3">Video</option>
                                                    <option value="4">Ordenamiento</option>
                                                    <option value="5">Identificacion</option>
                                                </select>
                                                <label>Actividades</label>
                                            </div>
                                            <div class="row col s3">
                                                <button id="btnCrearActividad" class="btn waves-effect waves-light red left" onclick="crearActividad()"><i class="material-icons left"></i>Crear Actividad</button>
                                            </div>
                                            <div id="actividades" style="display: none" class="row col s12">
                                                <ul id="listaactividades" class="collection with-header">
                                                    <li class="collection-header">
                                                        <h4>Actividades</h4>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a id="btnTab4" class="btn-floating btn-large waves-effect waves-light red right" onclick="cambiarTab('contentTab5','tab5')"><i class="material-icons">send</i></a>
                                    </div>
                                </div>
                                <div id="contentTab5" class="col s12">
                                    <div class="section">
                                        <div id="preguntas" style="display: none" class="row col s12">
                                                <ul id="listapreguntas" class="collection with-header">
                                                    <li class="collection-header">
                                                        <h4>Preguntas</h4>
                                                    </li>
                                                </ul>
                                            </div>
                                        <div class="row col s12" id="evaluacion">
                                          <a id="btnAgregarPregunta" onclick="agregarPreguntaEvaluacion()" class="btn waves-effect waves-light red left">Agregar Pregunta</a>
                                        </div>
                                        <a id="btnTab5" class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Finalizar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modalEditarActividad" class="modal modal-fixed-footer modal-actividad">
                <div class="modal-content">
                    <h4>Editar Actividad</h4>
                    <div class="row" id="modalEditarActividadContenido">
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnGuardarActividad" onclick="" class="modal-action modal-close waves-effect btn-flat ">Guardar</a>
                    <a class="modal-action modal-close waves-effect btn-flat ">Cancerlar</a>
                </div>
            </div>
            <div id="modalEditarPregunta" class="modal modal-fixed-footer modal-actividad">
                <div class="modal-content">
                    <h4>Editar Pregunta</h4>
                    <div class="row" id="modalEditarPreguntaContenido">
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnGuardarPregunta" onclick="guardarPregunta()" class="modal-action modal-close waves-effect btn-flat ">Guardar</a>
                    <a class="modal-action modal-close waves-effect btn-flat ">Cancerlar</a>
                </div>
            </div>
            <div id="modalVerActividad" class="modal modal-fixed-footer modal-actividad">
                <div class="modal-content">
                    <h4>Actividad</h4>
                    <div class="row" id="modalVerActividadContenido">
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="" class="modal-action modal-close waves-effect btn-flat ">Volver</a>
                </div>
            </div>
        {% endblock %}