
<!--*****************************************************************-->
{% extends "usuario/UsuarioBase.html" %}
{% load staticfiles %}
{% load tags_html %}

{% block title %}
	<title>Inicio Sesion</title>
{% endblock %}

{% block contenido %}
<div class="row">

</div>
<div class="row">
  <div class="col s12 m8 l8 offset-m2 offset-l2">
  <!--<div class="col s12 m6 offset-m3">-->
    <div class="card">
        <div class="card-content">
         		<span class="card-title">Cambiar Contraseña</span>
            <div class="divider col s12"></div>
       	 	  <form action='.' method='POST'>
          
            {% csrf_token %}

              <div class="row">
                <div class="input-field col s10 m10 l10">
                  <label for="{{formulario.nueva.name}}">{{formulario.nueva.label}}</label>
                  {{formulario.nueva}}     
                </div>
              </div>

               <div class="row">
                <div class="input-field col s10 m10 l10">
                  <label for="{{formulario.repetida.name}}">{{formulario.repetida.label}}</label>
                  {{formulario.repetida}}     
                </div>
              </div>
                
        </div>
        <div class="card-action center-align">
          <button class="btn btn-color waves-effect waves-light" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        
        </div>
    </form>  
    </div>
  </div>
</div>
{% include 'tags/error_form.html' %}

{% endblock %}
