{% extends "usuario/ConfiguracionBase.html" %}


{% load staticfiles %}
{% load tags_html %}

{% block title %} 
	<title>Registro Usuario</title>
{% endblock %}

{% block contenido %} 

{% if valido %}

    <h4> {% image_tag "ok.gif" %} {{ msg_ok }} </h4>
    <pre> Nombre: {{ nombre }} </pre>
    
    
<a href="{% url 'principal:index_adoa' %}">Publicar</a>

{% else %}

          	 	<p class="caption">Complete el siguiente formulario para cambiar sus datos personales</p>
          
          	 	<div class="divider"></div>
          	 	 <br>
          	 	{% include 'tags/error_form.html' %}

          	 	<form action='.' method='POST'>
          	 		{% csrf_token %}
          	 		<div class="row">
						<div class="input-field col s6">
							<label for="{{formulario.nombre.name}}">{{formulario.nombre.label}}</label>
							{{formulario.nombre}}			
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<label for="{{formulario.apellido.name}}">{{formulario.apellido.label}}</label>
							{{formulario.apellido}}			
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<input disabled value="{{usuario.tipousuario}}" id="disabled" type="text" class="validate">
							<label>Perfil</label>
						</div>
						<div class="input-field col s6">	
							<a class="btn waves-effect waves-light" href="/usuario/configuracion/cambio_perfil/">Cambiar Perfil<i class="material-icons right"></i>
	            			</a>
            			</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<label for="{{formulario.carrera.name}}">{{formulario.carrera.label}}</label>
							{{formulario.carrera}}			
						</div>
					</div>
          
            	<button class="btn waves-effect waves-light" type="submit" name="action">Actualizar Datos<i class="material-icons right">send</i>
            	</button>
           	
		</form>


{% endif %}

{% endblock %}






       
