{% load staticfiles %}
{% load tags_html %}

<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href='{% static "stylesheets/materialize/css/materialize.min.css" %}' />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script type="text/javascript" src='{% static "stylesheets/materialize/js/materialize.min.js" %}'></script>
	<script type="text/javascript" src='{% static "stylesheets/materialize/js/adoa.js" %}'></script>


	{% block title %} {% endblock %}
</head>
<body>

<header>
    <nav class="light-blue lighten-1">
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo"> <h4>Adoa</h4></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          	<li>
		    	<a href="{% url 'usuario:usuario_iniciarSesion' %}" class="waves-effect waves-light modal-trigger">
		        	<i class="material-icons right">power_settings_new</i>
		        	Iniciar Sesion
	         	</a>

          	</li>

          <li>
          <a class="waves-effect waves-light modal-trigger" href="{% url 'usuario:usuario_registro' %}">Registrarse<i class="material-icons right">subject</i></a></li>
         <li>
            <a class="waves-effect waves-light modal-trigger" href="{% url 'principal:acercaDe' %}">Acerca De<i class="material-icons right">info</i>
            </a>
          </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
          <!-- Dropdown Trigger -->
          <li><a class="waves-effect waves-light modal-trigger" href="{% url 'usuario:usuario_registro' %}">Iniciar Sesion<i class="material-icons right">power_settings_new</i></a></li>

          <li><a class="waves-effect waves-light modal-trigger" href="">Registrarse<i class="material-icons right">subject</i></a></li>
          
        </ul>
      </div>
    </nav>
  </header>

<div id="main"><!--MAIN PRINCIPAL-->
    <div class="wrapper"><!--WRAPPER PRINCIPAL-->

        <section id="content">

        

      
            <div class="container"><!--CONTAINER PRINCIPAL-->

                <div class="section" style="padding-top: 0px;" ><!--SECTION PRINCIPAL aca va toodoo-->
        
                    {% block contenido %}
                        
                    {% endblock %}
   
                    <div id="panel-oculto" style="display:none">sd</div>

                </div><!--SECTION PRINCIPAL-->
            </div><!--CONTAINER PRINCIPAL-->
        </section>
    </div><!--WRAPPER PRINCIPAL-->


</div><!--MAIN PRINCIPAL-->


</body>
</html>