{% load staticfiles %}
{% load tags_html %}

<!DOCTYPE html>

<html>
    <head>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/materialize.min.css" media="screen,projection" />
        <!--<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/Site.css" media="screen,projection" />-->
        
        <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/Site.css" %}' media="screen,projection" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset=" UTF-8" />
        
        <!--Import Google Raleway Font-->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
        <!--/Import Google Raleway Font-->
        
        <!--Import fuente.css-->
        <link type="text/css" rel="stylesheet" href='{% css_tag "materialize/css/fuente.css" %}' media="screen,projection"/>
        <!--/Import fuente.css-->
        <style type="text/css">
            nav {
                color: #fff;
                background-color: #00bcd4;
                width: 100%;
                line-height: 56px;
            }
            nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
                height: 57px;
                line-height: 57px;
            }
            
            /*--------------------------------------------------------------------------------*/
            body {font-family: 'Raleway', sans-serif;}
              .thin {font-weight:100;font-family: 'Raleway', sans-serif;}
              h1 { font-size:44px; font-weight:200;font-family: 'Raleway', sans-serif;}
              h2 {font-size:33px; font-weight:300;font-family: 'Raleway', sans-serif;}
              h3 {font-size:22px; font-weight:700;font-family: 'Raleway', sans-serif;}
              h4, h5 {font-weight:800;font-family: 'Raleway', sans-serif;}
              .bold, strong  {font-weight:600;font-family: 'Raleway', sans-serif;}
              .extrabold {font-weight:800;font-family: 'Raleway', sans-serif;}
              .ultrabold {font-weight:900;font-family: 'Raleway', sans-serif;}
            /*--------------------------------------------------------------------------------*/
        </style>

    </head>

    <body>

        <header style="height:57px">
            <nav class="menuHeader">
                <div class="nav-wrapper">
                    <a href="{% url 'principal:index' %}" class="brand-logo" style="margin-left:10px;bottom:-4px"><h4>Adoa</h4></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li style="height: 57px;">
                            <a href="{% url 'usuario:usuario_iniciarSesion' %}" class="waves-effect waves-light modal-trigger" style="height: 57px;">
                                <i class="material-icons right">power_settings_new</i>
                                Iniciar Sesion
                            </a>
                        </li>
            
                        <li style="height: 57px;">
                            <a class="waves-effect waves-light modal-trigger" href="{% url 'usuario:usuario_registro' %}" style="height: 57px;">
                                <i class="material-icons right">subject</i>
                                Registrarse
                            </a>
                        </li>
                      
                        <li style="height: 57px;">
                            <a class="waves-effect waves-light modal-trigger" href="{% url 'principal:acercaDe' %}" style="height: 57px;">
                                <i class="material-icons right">info</i>
                                Acerca De
                            </a>
                        </li>
                        
                        <li style="height: 57px;">
                           <a href="http://www.unla.edu.ar" target="_BLANCK" style="padding-left:0px;padding-right:0px;height:57px"><img src="/static/images/unlalogo3.png"/></a>
                        </li>
                    </ul>
                    
                    <!-- Menu Colapsible -->
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a class="waves-effect waves-light modal-trigger" href="{% url 'usuario:usuario_iniciarSesion' %}">
                                <i class="material-icons right">power_settings_new</i>
                                Iniciar Sesion    
                            </a> 
                        </li>
                        
                        <li>
                            <a class="waves-effect waves-light modal-trigger" href="{% url 'usuario:usuario_registro' %}">
                                <i class="material-icons right">subject</i>
                                Registrarse
                            </a>
                        </li>
                        
                        <li>
                            <a class="waves-effect waves-light modal-trigger" href="{% url 'principal:acercaDe' %}">
                                <i class="material-icons right">info</i>
                                Acerca De
                            </a>
                        </li>
                        
                         <li>
                            <a class="waves-effect waves-light modal-trigger" href="{% url 'principal:acercaDe' %}">
                                <i class="material-icons right">account_balance</i>
                                UNLa
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>   
            <div class="slider">
                <ul class="slides">
                    <li>
                        {% image_tag 'img9.png' %}<!-- random image -->
                         <div class="caption center-align">
                            <h2 class="sliderText">Comparte tus contenidos!</h2>
                            <h5 class="light grey-text text-lighten-3 sliderText">Solo crea tu OA y ya estarán disponibles para otros usuarios</h5>
                        </div>
                    </li>
                    
                    <li>
                        {% image_tag 'img10.png' %} <!-- random image -->
                        <div class="caption left-align">
                            <h2 class="sliderText">Descarga cualquier OA desde nuestra App</h2>
                            <h5 class="light grey-text text-lighten-3 sliderText">Solo tienes que registrarte y listo!</h5>
                        </div>
                    </li>
                    
                    <li>
                        {% image_tag 'img11.png' %} <!-- random image -->
                        <div class="caption right-align">
                            <h2 class="sliderText">Crea, Diseña y Exporta!</h2>
                            <h5 class="light grey-text text-lighten-3 sliderText"></h5>
                        </div>
                    </li>
                    
                    <li>
                        {% image_tag 'img12.png' %} <!-- random image -->
                        <div class="caption center-align">
                            <h2 class="sliderText">Trabaja de forma colaborativa</h2>
                            <h5 class="light grey-text text-lighten-3 sliderText">Podras crear de forma más rápida tus OA.</h5>
                        </div>
                    </li>   
                </ul>
            </div>
           
            <div class="container">
                <div class= "row center-align">
                  <!-- <p style="font-family:Raleway Light;font-style:italic;font-weight:bold;font-size:30px"><strong>Ambiente de Desarrollo de Objetos de Aprendizaje</strong></p>        
                 <img class="responsive-img" src="/static/images/adoaindex2.png" />-->
                </div>
                
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">

                    <!--<div class="col s12 m6 l6 offset-m6">-->
                        <i class="material-icons left medium grey-text">power_settings_new</i>

                            <div class="card-content black-text">
                                <span class="card-title" style="text-transform:uppercase;color:#0FBC71;font-weight:bold;font-size:15px">Que son los patrones pedagogicos?</span>
                                <p>Un patrón pedagógico describe un problema que se presenta con frecuenciaen el proceso de enseñanza-aprendizaje, para proponer a continuación unasolución a ese problema que ha demostrado su efectividad...</p>
                                <!--asemejables, de modo que esa solución puede ser adoptada ante problemas semejantes</p>-->
                            <div class="card-action">
                                <a href="#modalLogin" class = "btn right" style="background-color:#448AFF">Leer Más</a>
                            </div>
                            </div>
                            
                            
                        </div>
                    </div>
                   <div class="col s12 m6 offset-m6">
                    <div class="card">
                    <!-- <div class="col s12 m6 l6">-->
                        <i class="material-icons left medium grey-text">extension</i>

                            <div class="card-content black-text">
                                <span class="card-title" style="text-transform:uppercase;color:#0FBC71;font-weight:bold;font-size:15px">Que son los Objetos de Aprendizaje?</span>
                                <p class ="">Un OA es un tipo de material educativo digital, que se caracteriza, desde el punto de vista pedagógico, por orientarse a un objetivo específico de aprendizaje, y presentar mínimamente: una serie de contenidos...</p>
                                <!--con el fin de abordar la temática relacionada con el objetivo, actividades que permita al alumno poner en práctica o problematizar el contenido presentado, y una autoevaluación que posibilite conocer al alumno si ha podido comprender esos contenidos vinculados al objetivo.</p>-->
                            <div class="card-action">
                                <a class = "btn right" style="background-color:#448AFF">Leer Más</a>
                            </div>
                            </div>
                            
                            
                                            </div>

                    </div>
                </div>

                 <div class="row">    
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <i class="material-icons left medium grey-text">turned_in</i>
                        
                            <div class="card-content black-text">
                                <span class="card-title" style="text-transform:uppercase;color:#0FBC71;font-weight:bold;font-size:15px">Que ofrece nuestra herramienta?</span>
                                <p>El objetivo principal del desarrollo de este proyecto es el de poder brindar un ambiente de desarrollo, el cual pueda ofrecerles a los docentes una manera más sencilla de crear, modificar y mantener los objetos de aprendizaje.</p>
                                <!--Una vez  generados los objetos de aprendizaje, serán exportados en el formato SCORM, para ser visualizados en la plataforma educativa MOODLE.</p>-->
                                <div class="card-action">
                                    <a class = "btn right" style="background-color:#448AFF">Leer Más</a>
                                </div>
                            </div> 
                        </div>  
                    </div>
                    
                    <div class="col s12 m6 offset-m6">
                        <div class="card-panel">
                    <!-- <div class="col s12 m6 l6">-->
                        <i class="material-icons left medium grey-text">all_inclusive</i>

                            <div class="card-content black-text">
                               <span class="card-title" style="text-transform:uppercase;color:#0FBC71;font-weight:bold;font-size:15px">Todo en uno</span>
                                <p>El objetivo principal del desarrollo de este proyecto es el de poder brindar un ambiente de desarrollo, el cual pueda ofrecerles a los docentes una manera más sencilla de crear, modificar y mantener los objetos de aprendizaje.<br></p>
                                <!--Una vez  generados los objetos de aprendizaje, serán exportados en el formato SCORM, para ser visualizados en la plataforma educativa MOODLE.</p>-->
                           
                            </div>
                            
                             <div class="card-action">
                                <a class = "btn-floating right" style="background-color:#448AFF"><i class="material-icons left medium white-text">add</i></a>
                            </div>
                        
                    </div>
                    </div>
                </div>
                
                
            </div>
            <!--
            <div class ="row green" >
                <div class="container">
                    <div class="col s12 m12 l4">
                    <i class="material-icons left large white-text">looks_one</i>
                        <h1 class="white-text" style="font-weight:400">CREA</h1>
                       
                        <i class="material-icons left large white-text">create</i>
                     
                    </div>
                    
                    <div class="col s12 m12 l4" style="border-left:dashed 1px white">
                    <i class="material-icons left large white-text">looks_two</i>
                        <h1 class="white-text" style="font-weight:400">DISEÑA</h1>
                        <i class="material-icons left large white-text">wb_incandescent</i>


                    </div>
                    <div class="col s12 m12 l4" style="border-left:dashed 1px white">
                    <i class="material-icons left large white-text">looks_3</i>
                        <h1 class="white-text" style="font-weight:400">EXPORTA</h1>
                        <i class="material-icons left large white-text">file_download</i>

                    </div>
                </div>
                    
                
            </div>-->
<!--
            <img class="responsive-img" src="/static/images/ciclo.png"/>-->
            <footer class="page-footer blue lighten-6">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">ADOA 2.0</h5>
                            <p class="grey-text text-lighten-4">CONTACTO <strong>adoa2.unla@gmail.com</strong></p>
                        </div>
                        
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Links de Interes:</h5>
                            <ul>
                                <li>
                                    <a class="grey-text text-lighten-3 valign" href="https://www.youtube.com/channel/UCXvcDN6Cqf5qPenBGVXJOPg" target="_BLANK">
                                        {% image_tag 'y.png' %}
                                        YouTube
                                    </a>
                                </li>
                        
                                <li>    
                                    <a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCXvcDN6Cqf5qPenBGVXJOPg" target="_BLANK">
                                        {% image_tag 'gmail.png' %}
                                        Gmail
                                    </a>
                                        
                                </li>
                                
                                <li>    
                                    <a class="grey-text text-lighten-3" href="www.facebook.com.ar" target="_BLANK">
                                        {% image_tag 'f.png' %}
                                        Facebook
                                    </a>
                                </li>
                                
                                <li> 
                                    <a class="grey-text text-lighten-3" href="http://www.unla.edu.ar" target="_BLANK"><img src="/static/images/logounla.png" alt="" class="circle responsive-img">
                                        UNLa
                                    </a>
                                        
                                </li>
                                
                                <li>
                                    <a class="grey-text text-lighten-3" href="http://campus.unla.edu.ar" target="_BLANK">
                                        {% image_tag 'university.png' %}
                                        Campus Virtual UNLa
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="footer-copyright">
                    <div class="container">
                        © 2016 Copyright ADOA 2.0
                        {{user.username}}  
                        <a class="green-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
            </footer>
        </main>

  <!-- Modal Structure -->
  
        <div id="modalLogin" class="modal modal-login">
            <div class="modal-content">
           
                <form action='/usuario/iniciar_sesion/' class="login-form" method='POST'>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="input-field col s12 center">
                            <h4>Iniciar sesión</h4>
                        </div>
                    </div>
                    
                    <div class="row margin">
                        <div class="input-field col s12 ">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="usuario" name="username" type="text" class="validate">
                            <label for="ususario">Usuario</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Constraseña</label>
                        </div>
                        <div class="input-field col s12 m12 l12  login-text">
                            <input type="checkbox" id="remember-me">
                            <label for="remember-me">Recordarme</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="btn waves-effect waves-light col s12">Ingresar</button>
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <p class="margin medium-small"><a class="waves-effect waves-light modal-trigger" onclick="cerrarModal('modalLogin')" href="#modalRegister">Registrarse</a></p>
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <p class="margin right-align medium-small"><a href="page-forgot-password.html">Olvido la contraseña ?</a></p>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Iniciar Sesion!
            <i class="material-icons right">send</i>
          </button>
                </form>
                
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
  
  <div id="modalLogin2" class="modal modal-login">
    <div class="modal-content">
        <div class="col s12 l12 m12">
            <form action="/accounts/auth/" class="login-form" method="POST">
                {% csrf_token %}
                
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>Iniciar sesión</h4>
                    </div>
                </div>
                
                <div class="row margin">
                    <div class="input-field col s12 ">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="usuario" name="username" type="text" class="validate">
                        <label for="ususario">Usuario</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Constraseña</label>
                    </div>
                    <div class="input-field col s12 m12 l12  login-text">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Recordarme</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s12">Ingresar</button>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small"><a class="waves-effect waves-light modal-trigger" onclick="cerrarModal('modalLogin')" href="#modalRegister">Registrarse</a></p>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin right-align medium-small"><a href="page-forgot-password.html">Olvido la contraseña ?</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div id="modalRegister" class="modal modal-login">
    <div class="modal-content">
      <div class="col s12">
        <form action="/accounts/auth/" class="login-form" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12 center">
            <h4>Registro</h4>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="usuarioregister" type="text" class="validate">
            <label for="ususarioregister">Usuario</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="passwordregister" type="password" class="validate">
            <label for="passwordregister">Constraseña</label>
          </div>
           <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="passwordconfirm" type="password" class="validate">
            <label for="passwordconfirm">Confirmar contraseña</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a href="index.html" class="btn waves-effect waves-light col s12">Registrarse</a>
          </div>
          <div class="input-field col s12">
            <p class="margin center medium-small sign-up">Ya tenes una cuenta ? <a class="waves-effect waves-light modal-trigger" onclick="cerrarModal('modalRegister')" href="#modalLogin">Iniciar sesión</a></p>
          </div>
        </div>
      </form>

      </div>
    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src='{% static "stylesheets/materialize/js/materialize.min.js" %}'></script>
<script type="text/javascript" src='{% static "stylesheets/materialize/js/Objeto/Site.js" %}'></script>

</body>

</html>