{% extends "administrador/AdministradorBase.html" %}

{% load tags_html %}

{% block bread %}
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row" style="margin-bottom: 0px">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Administrador</h5>
                <ol class="breadcrumbs">
                    <li><a style="color: #00bcd4;text-decoration:none" href="">Inicio</a></li>
                    <li><a style="color: #00bcd4;text-decoration:none" href="">Perfiles</a></li>
                    <li class="active">Editar Perfiles</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block informacion %}
    <p class="caption">A continuacion podra modificar el perfil de los usuarios al sistema.</p>
    <div class="divider"></div>
{% endblock %}


{% block contenido %}

<h5>Perfiles</h5>
<br><br>


    <form action=',' method='POST'>

        {% csrf_token %}

       <div class="row">
                        <div class="input-field col s6 m6 l6">
                            <label for="{{formulario.apellido.name}}">{{formulario.nombre.label}}</label>
                            {{formulario.nombre}}         
                        </div>
                    </div>
        <button type="submit"class="btn waves-effect waves-light light-blue lighten-1">Actualizar</button>
        <a class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action" href='{% url 'administrador:administrador_perfiles_index' %}'>Cancelar</a>

    </form>
    <br />
    {% include 'tags/error_form.html' %}



{% endblock %}
