{% extends "administrador/AdministradorBase.html" %}

{% load tags_html %}


{% block bread %}
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row" style="margin-bottom: 0px">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Administrador</h5>
                    <ol class="breadcrumbs">
                        <li><a style="color: #00bcd4">Inicio</a></li>
                        <li><a style="color: #00bcd4">Usuarios</a></li>
                        <li class="active">Editar</li>
                    </ol>
            </div>
        </div>
    </div>  
</div>
{% endblock %}

{% block informacion %}
    <p class="caption">A continuacion podra modificar el nivel de acceso de los usuarios al sistema.</p>
    <div class="divider"></div>
{% endblock %}

{% block contenido %}

<h5>Editar Usuarios</h5>



    <form action='.' method='POST'>

    {% csrf_token %}
      
<div class="row">
         <div class="col s6">
 Tipo Usuario: {{ formulario.as_p }}
            
        </div>
</div>

      <button type="submit"class="btn waves-effect waves-light light-blue lighten-1">Actualizar</button>
      <a class="btn waves-effect waves-light light-blue lighten-1" type="submit" name="action" href='{% url 'administrador:administrador_usuarios_index' %}'>Cancelar
                </a>
    </form>
    <br />


{% include 'tags/error_form.html' %}
{% include 'tags/success_form.html' %}

{% endblock %}
